@import '../abstracts/variables';

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    // .recipe_checkbox {
    //     display: flex;
    //     flex-wrap: wrap;
    //     justify-content: center;
    //     align-items: center;
    //     border: 1px solid black;
    //     width: fit-content;
    //     li {
    //         width: min-content;
    //         flex: 50%;
    //         color: gray;
    //     }
    //     input {
    //         margin-right: 3%;
    //     }
    // }

    .recipe_filter {
        margin-block: 2.2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: fit-content;

        align-items: center;

        button {
            width: fit-content;

            font-weight: 600;
            padding: 0.8rem;
            border-radius: 150px;
        }

        button.active {
            background-color: $primary-color;
            color: white;
        }
    }

    .recipes_container {
        display: flex;
        flex-wrap: wrap;
        width: MIN(100%, 1600px);
        justify-content: space-evenly;
    }
}
