@import '../abstracts/variables';
@import '../breakpoints.scss';

.mainContainer {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.threeUsersContainer {
    width: clamp(30rem, 90vw, 60rem);
    @include media('<=phone') {
        display: flex;
        flex-direction: column;
        width: 26rem;
    }
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    .card {
        @include media('<=phone') {
            width: 15rem;
            flex-direction: row-reverse;
        }
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: clamp(8rem, 25vw, 15rem);
    }
    .ranking_placement {
        @include media('<=phone') {
            right: 4rem;
        }
        padding: 0;
        margin: 0;
        font-size: 2.5rem;
        font-weight: 700;
        color: $primary-color;
        position: relative;
    }

    div:nth-of-type(1) {
        position: relative;
        top: 0rem;
    }
    div:nth-of-type(2) {
        margin-left: 1rem;
        margin-right: 1rem;
        position: relative;
        top: 2rem;
    }
    div:nth-of-type(3) {
        position: relative;
        top: 4rem;
    }

    li {
        @include media('<=phone') {
            width: 15rem;
        }
        height: 17.5rem;
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 0.75rem;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
        border-radius: 8px 8px 8px 8px;
    }

    .image_section {
        margin-top: 0.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            border-radius: 3rem;
            width: 6.2rem;
            object-fit: cover;
        }
    }
    .full_name {
        margin-top: 1rem;
        font-size: clamp(1.25rem, 2vw, 1.5rem);
        font-weight: 600;
        width: 100%;
        overflow: hidden;
    }
    .score_section {
        display: flex;
        align-items: center;
        margin: 0.5rem 0.5rem;

        img {
            width: 1.65rem;
            object-fit: cover;
        }
    }
}

.sevenUsersContainer {
    width: clamp(20rem, 85vw, 60rem);
    margin: 0rem 2rem;
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    height: 47.5rem;
    justify-content: space-between;
    font-size: 1.5rem;
    font-weight: 600;

    li {
        padding-top: 0.75rem;
        padding-bottom: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
        border-radius: 8px 8px 8px 8px;
    }

    .image_name_and_placement_section,
    .score_section {
        display: flex;
        align-items: center;
    }

    .image_name_and_placement_section {
        margin-left: 1rem;
        width: 60%;
        .ranking_placement {
            margin-right: 1rem;
            color: $primary-color;
            font-weight: 600;
        }
        img {
            border-bottom-left-radius: 3rem;
            border-bottom-right-radius: 3rem;
            border-top-left-radius: 3rem;
            border-top-right-radius: 3rem;
            background-size: auto;
            width: 5rem;
            height: 4rem;
        }
        .full_name {
            font-size: clamp(1.25rem, 3vw, 1.5rem);
            margin-left: 1rem;
            font-weight: 600;
        }
    }
    .score_section {
        text-align: right;
        margin-right: 1rem;
        justify-content: flex-end;

        img {
            border-radius: 3rem;
            background-size: auto;
            width: 1.65rem;
            object-fit: cover;
        }
    }
}

.score_text {
    margin-left: 0.4rem;
    font-size: clamp(1.25rem, 2vw, 1.5rem);
    font-weight: 600;
    color: $primary-color;
}
