@import '../abstracts/variables';
@import '../abstracts/mixin';

.container {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .create_button {
        @include button;
    }
}
.general_section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 40rem;

    .image_input {
        display: none;
    }
    .image_label {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        text-align: center;
        font-size: 1.5rem;
        .image_text {
            position: relative;
            bottom: 2.5rem;
        }
        img {
            width: 30rem;
            height: 18rem;
            background-size: cover;
            background-position: center;
        }
    }

    .title_input,
    .description_input,
    .cook_time_input,
    .serving_input {
        @include text_input;
    }

    .cook_time_input,
    .serving_input {
        width: 10rem;
    }

    .cook_time_container,
    .serving_container {
        display: flex;
        align-items: center;
        width: 20rem;
        justify-content: space-between;
    }

    .serving_text,
    .cook_time_text {
        font-size: 1.5rem;
    }
}

.instructions_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .instructions_title {
        font-size: 3rem;
        border: 1px solid black;
        margin-bottom: 2rem;
    }

    .new_instruction {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 1rem;
    }

    .image_container {
        margin-right: 1rem;
        .image_input {
            display: none;
        }
        .image_label {
            display: flex;
            flex-direction: column;
            cursor: pointer;
            background-size: cover;
            background-position: center;

            .image_text {
                text-align: center;
                position: relative;
                bottom: 1.75rem;
                font-size: 1.2rem;
            }

            img {
                width: 13rem;
                height: 10rem;
            }
        }
    }

    .instructions_input_container {
        display: flex;
        width: 28rem;
        align-items: stretch;
        align-items: center;
        position: relative;
        bottom: 0.75rem;
        .instruction_text {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .instructions_actions {
            position: relative;
            width: 8rem;
            display: flex;
            justify-content: space-evenly;
        }
    }

    .instruction_input {
        @include text_input;
        width: 20rem;
    }

    .save_button,
    .edit_button,
    .delete_button {
        & img {
            width: 2rem;
        }
    }

    .add_instruction {
        margin-top: 1rem;
        margin-bottom: 1.5rem;
        font-size: 1.5rem;
    }
}

.section_separator {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    background-color: gray;
    opacity: 60%;
    width: MIN(80%, 40rem);
}

.ingredients_actions {
    position: relative;
    top: 1rem;
    width: 10rem;
    display: flex;
    justify-content: space-evenly;
}
