.main {
    margin: 3rem;
}
.image_container {
    border: 3px solid black;
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
    // width: fit-content;
    img {
        width: clamp(22rem, 66.6vw, 66rem);
        height: clamp(12.375rem, 37.125vw, 37.125rem);
        border-radius: 15px 15px 15px 15px;
    }
}

.details_container {
    display: grid;
    grid-template-columns: 1fr 7.9rem 0.4rem;
    justify-content: space-between;

    .name_and_profile_image_container {
        display: grid;
        align-items: center;
        grid-template-columns: 5rem 1fr;
        gap: 1rem;
        justify-content: space-between;
    }

    .profile_image_container {
        width: 5rem;
        justify-content: center;
        display: flex;
        align-items: center;
    }

    .author_name {
        display: flex;
        text-transform: capitalize;
        font-weight: 600;
    }

    .saves_and_ratings_container {
        gap: 0.3rem;
        display: flex;
        flex-direction: column;
        img {
            width: 1rem;
        }
    }
}
