.main {
    margin: 3rem;
    li {
        margin-bottom: 1rem;
    }
}
.image_container {
    display: grid;
    height: 13rem;

    img {
        border-radius: 15px 15px 15px 15px;
        object-fit: cover;
    }
}

.details_container {
    display: grid;
    border: 1px solid black;
}
