.image_input {
    display: none;
}
.image_label {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    text-align: center;
    font-size: 1.5rem;
    .image_text {
        position: relative;
        bottom: 2.5rem;
    }
    img {
        width: 30rem;
        height: 18rem;
        object-fit: cover;
    }
}
