.rating {
    background-color: white;
    display: flex;
    width: 100%;
    align-items: center;
    // border: 1px solid black;

    .rating_icons {
        display: flex;
        width: 48px;
    }
    .rating_score {
        margin-bottom: 0.4rem;
        margin-left: 0.5rem;
        font-size: 1.2rem;
    }
}

.active {
    filter: invert(76%) sepia(20%) saturate(0%) hue-rotate(212deg) brightness(90%) contrast(91%);
}
