.rating {
    background-color: white;
    display: flex;
    align-items: center;
    width: 100%;
    margin-left: 0.25rem;

    .rating_icons {
        display: flex;
        width: 48px;
        gap: 0.2rem;
    }

    .rating_score {
        margin-bottom: 0.3rem;
        margin-left: 0.5rem;
        font-size: 1.2rem;
    }
}

.active {
    filter: invert(76%) sepia(20%) saturate(0%) hue-rotate(212deg) brightness(90%) contrast(91%);
}
