@import '../abstracts/variables';

nav {
    display: flex;
    justify-content: center;
    align-items: center;

    ul {
        position: fixed;
        height: 8vh;
        bottom: 0%;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        border-radius: 0.8rem 0.8rem 0 0;
        box-shadow: 0 0.01rem 0.1rem #b2b2b2;
    }

    a {
        opacity: 75%;
        display: flex;
    }

    .add__recipe {
        opacity: 100%;
        position: relative;
    }

    .add__recipe img {
        width: 3.5rem;
    }

    img {
        width: 1.9rem;
    }

    p {
        font-size: 0;
    }
}

header {
    background-color: $primary-color;
    height: 4.1rem;
    display: flex;
    align-items: center;
    padding: 0 5%;
    justify-content: space-between;

    .nav-icon {
        width: 17px;
    }

    .logo-icon {
        width: 17px;
    }

    .logout-btn {
        // display: none;
    }

    .search-icon {
        width: 1.7rem;
    }

    .search-box {
        background: white;
        border-radius: 0.5rem;
        display: flex;
        padding: 0 5% 0 5%;
        justify-content: space-between;
        align-items: center;
        width: 50%;
        height: 45%;
    }

    .search-btn {
        color: gray;
        position: relative;
        width: 0.8rem;
    }

    .search-txt {
        border: none;
        background: none;
        position: relative;
        float: left;
        margin: 5px;
        color: black;
        font-size: 0.8rem;
        width: inherit;
    }
}
