@import '../abstracts/variables';
@import '../breakpoints.scss';

// TODO - adjust tablet mode search box to 50% and pc to 70%

$header-height: clamp(3rem, 15.5vh, 3.5rem);
header {
    background-color: $primary-color;
    display: flex;
    align-items: center;
    height: $header-height;
    justify-content: center;

    .auth__links {
        width: 7rem;
        margin-right: 5%;
    }

    .auth__links-list {
        display: flex;
        justify-content: space-between;
        color: white;
        font-weight: $fw-bold;
        width: inherit;
    }

    .logo-icon {
        margin-left: 5%;
        width: clamp(2rem, 2vw, 5rem);
    }

    .search-box {
        background: white;
        border-radius: 0.5rem;
        display: flex;
        padding: 0.2% 0;
        margin-inline: 5%;
        justify-content: space-between;
        align-items: center;
        width: 50%;

        .search-btn {
            color: gray;
            position: relative;
            width: 1rem;
            margin-right: 1rem;
        }

        .search-txt {
            border: none;
            background: none;
            position: relative;
            float: left;
            margin: 0.3rem;
            color: black;
            width: inherit;
            padding-left: 0.8rem;
        }
    }
}
nav {
    .nav__list {
        display: flex;
        position: fixed;
        padding: 1.2% 0;
        bottom: 0%;
        width: 100vw;
        align-items: center;
        justify-content: space-evenly;
        border-radius: 0.8rem 0.8rem 0 0;
        box-shadow: 0 0.01rem 0.1rem #b2b2b2;
    }

    .nav__link {
        display: flex;
    }

    .nav__link-icon img {
        width: 1.7rem;
    }

    .nav__link-icon.create-recipe img {
        width: 2.8rem;
    }

    .nav__link-text {
        font-size: 0;
    }
}

@include media('>=tablet') {
    $header-height: clamp(3rem, 15.5vh, 4rem);

    .container {
        display: flex;
        justify-content: center;
        background-color: $primary-color;
        align-items: center;

        header {
            width: MIN(40%, 50rem);
            order: 2;
            justify-content: space-evenly;

            .auth__links {
                width: clamp(7rem, 14vw, 8rem);
                margin-right: unset;
            }

            .auth__links-list {
                flex-direction: row;
                justify-content: space-evenly;
                margin: 5% 0;
                color: white;
                font-weight: $fw-bold;
                font-size: clamp(0.7rem, 1.6vw, 0.9rem);
            }
            .search-box {
                width: 75%;
            }
            .logo-icon {
                display: none;
            }
        }
        nav {
            order: 1;
            height: $header-height;
            width: MIN(40%, 30rem);
            .nav__list {
                height: inherit;
                border-radius: unset;
                bottom: unset;
                position: fixed;
                width: inherit;
                box-shadow: none;
                justify-content: space-between;
            }

            .nav__item.create-recipe {
                display: none;
            }

            .nav__link-icon {
                display: none;
            }
            .nav__link-text {
                color: white;
                font-size: clamp(1rem, 1.9vw, 1.3rem);
                font-weight: 700;
            }

            .nav__link-create-recipe {
                display: none;
            }
        }
    }
}
