@import '../abstracts/variables';
@import '../breakpoints.scss';

// TODO - adjust tablet mode search box to 50% and pc to 70%

$header-height: clamp(3rem, 15.5vh, 3.5rem);

.header {
    z-index: 1000;
    background-color: $primary-color;
    display: flex;
    position: fixed;
    width: 100%;
    align-items: center;
    height: $header-height;
    justify-content: center;
    padding-inline: 0.5rem;

    .auth__links__list {
        display: flex;
        display: flex;
        justify-content: space-between;
        color: white;
        font-weight: $fw-bold;
    }
    .auth__links__list__guest {
        width: 7rem;
    }
    .auth__links__list__authenticated {
        width: fit-content;
    }

    button {
        color: white;
        font-weight: $fw-bold;
    }

    .logo__icon {
        width: clamp(2rem, 2vw, 5rem);
    }

    .search__box {
        background: white;
        border-radius: 0.5rem;
        display: flex;
        padding: 0.2% 0;
        margin-inline: 5%;
        justify-content: space-between;
        align-items: center;
        width: 50%;

        .search__btn {
            position: relative;
            width: 1rem;
            margin-right: 1rem;
        }

        .search__txt {
            border: none;
            background: none;
            position: relative;
            float: left;
            margin: 0.3rem;
            color: black;
            width: inherit;
            padding-left: 0.8rem;
        }
    }
}
.nav {
    .nav__list {
        z-index: 1000;
        background-color: white;
        display: flex;
        position: fixed;
        padding: 1.2% 0;
        bottom: 0%;
        width: 100vw;
        align-items: center;
        justify-content: space-evenly;
        border-radius: 0.8rem 0.8rem 0 0;
        box-shadow: 0 0.01rem 0.1rem #b2b2b2;
    }

    .nav__link {
        display: flex;
    }

    .nav__link__icon img {
        width: 1.7rem;
    }

    .nav__link__icon.create__recipe img {
        width: 3rem;
    }

    .nav__link__text {
        font-size: 0;
    }
}

@include media('>=tablet') {
    $header-height: clamp(3rem, 15.5vh, 4rem);

    .container {
        border: 1px solid green;
        display: flex;
        justify-content: center;
        background-color: $primary-color;
        align-items: center;
        position: fixed;
        width: 100%;
        // padding-inline: 5%;
        z-index: 1000;

        .header {
            width: MIN(40%, 50rem);
            order: 2;
            justify-content: space-between;
            position: unset;

            // border: 1px solid green;
            .auth__links {
                width: clamp(7rem, 14vw, 8rem);
                margin-right: unset;
            }

            .auth__links-list {
                flex-direction: row;
                justify-content: space-evenly;
                margin: 5% 0;
                color: white;
                font-weight: $fw-bold;
                font-size: clamp(0.7rem, 1.6vw, 0.9rem);
            }
            .search-box {
                width: 100%;
                padding-block: 0.8%;
                .search-btn {
                    width: clamp(1rem, 10%, 1.4rem);
                }
                .search-txt {
                    width: inherit;
                }
            }
            .logo__icon {
                display: none;
            }
        }
        .nav {
            order: 1;
            height: $header-height;
            width: MIN(40%, 30rem);

            .nav__list {
                position: unset;
                background-color: unset;
                height: inherit;
                border-radius: unset;
                bottom: unset;
                width: 100%;
                box-shadow: none;
                justify-content: space-between;
            }

            .nav__item.create__recipe {
                display: none;
            }

            .nav__link__icon {
                display: none;
            }
            .nav__link__text {
                color: white;
                font-size: clamp(1rem, 1.9vw, 1.3rem);
                font-weight: 700;
            }

            .nav__link-create__recipe {
                display: none;
            }
        }
    }
}
