@import '../abstracts/variables';

nav {
    display: flex;
    justify-content: center;
    align-items: center;

    ul {
        position: fixed;
        padding: 1% 0;
        bottom: 0%;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        border-radius: 0.8rem 0.8rem 0 0;
        box-shadow: 0 0.01rem 0.1rem #b2b2b2;
    }

    a {
        opacity: 75%;
        display: flex;
    }

    .add__recipe {
        opacity: 100%;
        position: relative;
    }

    .add__recipe img {
        width: 3.5rem;
    }

    img {
        width: 1.9rem;
    }

    p {
        font-size: 0;
    }
}

header {
    background-color: $primary-color;
    display: flex;
    align-items: center;
    padding: 0.4% 10%;
    justify-content: space-between;

    .logout-btn {
        // display: none;
    }

    .logo-icon {
        margin: 0.3rem 0;
        width: clamp(2rem, 2.5vw, 5rem);
    }

    .search-box {
        background: white;
        border-radius: 0.5rem;
        display: flex;
        padding: 0.2% 0;
        justify-content: space-between;
        align-items: center;
        width: 50%;
        max-width: 15rem;
    }

    .search-btn {
        color: gray;
        position: relative;
        width: 2rem;
        padding-right: 1rem;
    }

    .search-txt {
        border: none;
        background: none;
        position: relative;
        float: left;
        margin: 5px;
        color: black;
        font-size: 0.8rem;
        width: inherit;
        padding-left: 1rem;
    }
}
