.card_container {
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
    border-radius: 26px 0px 15px 15px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 270px;
    margin: 32px;

    .detail_container_1 {
        font-size: 1.5rem;
        flex-direction: row;
        display: flex;
        justify-content: space-around;
        width: 100%;
        .profile_pic {
            width: 16%;
        }
        .author_and_rating {
            position: relative;
            bottom: 2.5px;
            margin-left: 2%;
            width: 70%;
            flex-direction: column;
            justify-content: center;
            overflow: hidden;
            white-space: nowrap;

            .rating {
                background-color: white;
                display: flex;
                width: 100%;
                align-items: center;
                justify-content: flex-start;
                .rating_icons {
                    display: flex;
                    width: 48px;
                }
                .rating_score {
                    margin-left: 3%;
                    font-size: 12.8px;
                }
            }
        }
        .saves_count_and_icon {
            position: relative;
            bottom: 8px;
            left: 4.7px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            width: 25%;
            font-weight: 700;

            .saves_count {
                margin-bottom: 8px;
                margin-right: 4.8px;
                font-size: 1.6rem;
                span {
                    font-weight: 700;
                }
            }
            .saves_icon {
                i {
                    img {
                        width: 27.2px;
                    }
                }
            }
        }
    }
    .detail_container_2 {
        justify-content: center;
        margin-top: 3%;
        margin-bottom: 3%;
        flex-direction: column;
        width: 256px;
        justify-content: center;
        overflow: hidden;
        white-space: nowrap;
        font-size: 1.5rem;
    }
    .detail_container_3 {
        position: relative;
        top: 5px;
        li {
            img {
                border-bottom-left-radius: 15px;
                border-bottom-right-radius: 15px;
                height: 112px;
                width: 270px;
                object-fit: cover;
            }
        }
    }
}
