.card_container {
    margin: auto;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;

    .detail_container_1 {
        flex-direction: row;
        display: flex;
        justify-content: space-around;
        width: 100%;

        .profile_pic {
            width: 20%;
        }
        .author_and_rating {
            margin-left: 2%;
            width: 55%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .rating {
                display: flex;
                width: 5rem;
                align-items: center;
                padding: 0;
                justify-content: center;

                .rating_icons {
                    display: flex;
                }
                .rating_score {
                    margin-left: 3%;
                    font-size: 0.8rem;
                }
            }
        }
        .saves_count_and_icon {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            width: 25%;
            .saves_count {
                margin-bottom: 0.5rem;
                margin-right: 0.3rem;
                font-size: 1rem;
                font-weight: 600;
            }
            .saves_icon {
                // border: 1px solid black;
                i {
                    img {
                        width: 1.7rem;
                    }
                }
            }
        }
    }
    .detail_container_2 {
        margin-block: 2%;
        display: flex;
        width: 16rem;
    }
    .detail_container_3 {
        display: flex;
        justify-content: center;
        li {
            img {
                border-radius: 15px;
                object-position: 0% 0%;
                height: 9rem;
                width: 17rem;
                object-fit: cover;
            }
        }
    }
}
