@import '../abstracts/variables';
.background_shape {
    background: linear-gradient(to bottom right, $primary-color 50%, transparent 50.5%) no-repeat bottom,
        linear-gradient(0deg, $primary-color, $primary-color) no-repeat top;
    color: white;
    height: clamp(8rem, 15vh, 12.5rem);
    background-size: 100% 6rem, 100% calc(100% - 6rem);
    display: flex;
    align-items: center;
    justify-content: center;
    .welcome_title {
        font-size: clamp(2.5rem, 8vw, 4.5rem);
        position: relative;
        bottom: 2rem;
    }
}

.content_section {
    height: 65vh;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    .reset_your_password_title {
        text-align: center;
        font-size: clamp(1.5rem, 8vw, 2.5rem);
    }

    .reset_password_form {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 15rem;

        .email_input {
            width: clamp(2rem, 80vw, 28rem);
            border: 2px solid #d9d0e3;
            border-radius: 8px;
            padding-left: 1rem;
            padding-top: 1.2rem;
            padding-bottom: 1.2rem;
            font-size: 1.5rem;
        }

        .reset_button {
            margin: 0 auto;
            text-align: center;
            background: $primary-color;
            border-radius: 50px;
            width: 20rem;
            padding: 1rem;
            font-size: 2rem;
            color: white;
        }
    }
}
