@import '../abstracts/variables';

.container {
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .recipe_filter {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: fit-content;
        align-items: center;

        button {
            width: fit-content;
            font-weight: 600;
            padding: 12.8px;
            border-radius: 150px;
        }

        button.active {
            background-color: $primary-color;
            color: white;
        }
    }
}

.recipes_container {
    column-gap: 5rem;
    display: flex;
    flex-wrap: wrap;
    width: MIN(100%, 160rem);
    justify-content: space-evenly;
}
