.page {
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.recipes_container {
    display: flex;
    flex-wrap: wrap;
    column-gap: 5rem;
    width: MIN(100%, 160rem);
    justify-content: space-evenly;
}
