.page {
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title {
    font-size: 3.5rem;
    color: #ff5349;
    font-weight: 600;
    text-decoration: underline;
    text-align: center;
}
