@import '../abstracts/variables';

.parent_container {
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section_container {
    padding-top: 3rem;
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    width: clamp(24rem, 85vw, 100rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    row-gap: 2.5rem;

    .three_dots_section {
        position: absolute;

        margin-top: 0rem;
        margin-right: clamp(18rem, 70vw, 67.5rem);
    }
    .profile_pic {
        img {
            border-radius: 5rem;
            object-fit: cover;
        }
    }
    .name {
        font-weight: 700;
        text-transform: capitalize;
        font-size: 2rem;
        text-align: center;
    }

    .score_container {
        background-color: $primary-color;
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 1.5rem;
        border-radius: 150px;
        width: 16rem;
        padding-top: 0.6rem;
        padding-bottom: 0.6rem;
        .score_icon {
            position: relative;
            top: 1px;
            width: 1.5rem;
            filter: brightness(0) invert(1);
        }
        .score_text {
            color: white;
            font-weight: 700;
            font-size: 1.2rem;
            text-transform: capitalize;
            text-align: center;
        }
    }

    .social_container {
        display: flex;
        width: 100%;
        justify-content: space-around;
        align-items: center;
    }

    .followers_item,
    .following_item,
    .posts_item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 4rem;
    }

    .followers_number,
    .following_number,
    .posts_number {
        font-size: 1.5rem;
        font-weight: 700;
    }
    .followers_text,
    .following_text,
    .posts_text {
        font-size: 1.2rem;
        opacity: 70%;
    }

    .follow_button {
        color: $primary-color;
        text-transform: capitalize;
        font-weight: 500;
        font-size: 2rem;
    }

    .posts_title {
        text-align: center;
        color: $primary-color;
        font-weight: 600;
        font-size: 2.5rem;
        text-decoration: underline;
    }

    .recipes_container {
        display: flex;
        flex-wrap: wrap;
        width: MIN(100%, 1600px);
        justify-content: space-evenly;
    }
    .no_recipes_container {
        width: MIN(100%, 1600px);
        display: grid;
        row-gap: 4rem;
        padding-bottom: 6rem;

        .no_recipes_title {
            text-align: center;
            align-content: center;
            font-size: 2rem;
        }
    }
}
