@import 'abstracts/variables';
@import 'base/_fonts';
@import 'layout/navbar.module.scss';
@import 'layout/footer';

ul {
    list-style-type: none;
}
li {
    list-style-type: none;
}

html,
a {
    color: inherit;
    text-decoration: none;
}

button {
    border: none;
    background: none;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*:focus {
    outline: none;
}
